/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.callout[data-callout="flashcard"] {
    --callout-color: 2, 122, 255;
    --callout-icon: lucide-circle-question-mark;
}

.anki-link-missing-deck-list li {
    margin-top: 0.25rem;
}
